label {
  font-size: 12px;
}

.form-input-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 20px;
  background: #d8e9f7;
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    width: 80%;
  }
}

select {
  width: 208px;
}
