<div class="container">
    <form (ngSubmit)="createAccount()" #form="ngForm">
        <div class="container-form-div">
            <h1>Create Account</h1>
            <div class="form-input-div">
                <div class="form-input">
                    <label for="name">Name</label>
                    <input [(ngModel)]="createAccountDto.name" type="text" placeholder="Enter Account Name" name="name"
                        id="name" required>
                </div>
                <div class="form-input">
                    <label for="type">Type</label>
                    <select [(ngModel)]="createAccountDto.type" placeholder="Select Account Type" required name="type"
                        id="type">
                        <option *ngFor="let item of accountType; let i = index" [value]="type[i]">{{item}}</option>
                    </select>
                </div>
                <div class="form-input">
                    <label for="balance">Balance</label>
                    <input [(ngModel)]="createAccountDto.balance" type="text" placeholder="Account Balance"
                        name="balance"
                        id="balance" required>
                </div>
                <div class="button-div">
                    <button type="submit" class="create">Create</button>
                </div>
            </div>
        </div>
    </form>
</div>
