<!-- <div class="container">
    <h1>View Budget Accounts</h1>
    <div *ngIf=" budgetAccount && budgetAccount.accounts">
        <div *ngFor="let account of budgetAccount.accounts">
            <div *ngIf="!account.deleted" class="for-loop">
                <h2>{{account.name}} </h2>
                <div> <span> Account Type: </span> <span> {{account.type}} </span></div>
                <div> <span> Account Balance: </span> <span> {{account.balance}} </span></div>
                <div> <span> Account Cleared Balance:</span> <span> {{account.cleared_balance}} </span></div>
            </div>
        </div>
    </div>
   
</div> -->

<div class="container">
    <h1>View Budget Accounts</h1>
    <div class="table-div">
        <table *ngIf="budgetAccount">
            <tr>
                <th>Account Name</th>
                <th>Account Type</th>
                <th>Account Balance</th>
                <th>Account Cleared Balance</th>
            </tr>
            <tr *ngFor="let budget of budgetAccount.accounts">
                <td>{{budget.name}}</td>
                <td>{{budget.type}}</td>
                <td class="aligh-right">{{currency}} {{budget.balance}}</td>
                <td class="aligh-right">{{currency}} {{budget.cleared_balance}}</td>
            </tr>
        </table>
    </div>
    <div class="button-div">
        <button (click)="createAccount()">Create Account</button>
    </div>
</div>
