tr {
  cursor: auto;
}

.table-div {
  width: 80%;

  table {
    width: 100%;
  }
}

.button-div {
  width: 30%;
  margin-top: 20px;

  button {
    width: 90%;
  }
}

.aligh-right {
  text-align: right;
}
