<div class="container">
    <h1>List Of Payees</h1>
    <div>
        <ul *ngIf="listOPayees">
            <li *ngFor="let payee of listOPayees.payees">
                <div *ngIf="!payee.deleted">{{payee.name}} </div>
            </li>
        </ul>
    </div>
</div>
