<div class="container">
    <h1>View All Budgets</h1>
    <div class="table-div">
        <table *ngIf="listBudgets">
            <tr>
                <th>Budget Name</th>
                <th>First Month</th>
                <th>Last Month</th>
                <th>Last Modified On</th>
                <th>Payee Transactions</th>
            </tr>
            <tr *ngFor="let budget of listBudgets.budgets"
                (click)="viewBudgetAccounts(budget.id, budget.currency_format.currency_symbol)">
                <td>{{budget.name}}</td>
                <td>{{budget.first_month}}</td>
                <td>{{budget.last_month}}</td>
                <td>{{budget.last_modified_on}}</td>
                <td><button (click)="listPayees(budget.id)">Show</button></td>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>50</td>
                <td><button>Show</button></td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
                <td>94</td>
                <td><button>Show</button></td>
            </tr>
        </table>
    </div>
</div>
