/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 98%;
}

* {
  font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h2 {
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  // background: linear-gradient(
  //     rgba(255, 255, 255, 0.5),
  //     rgba(255, 255, 255, 0.5)
  //   ),
  //   url("assets/michael-longmire-lhltMGdohc8-unsplash.jpg");
  // background-size: 100%;

  > div {
    max-height: 60%;
    overflow: auto;
  }
}

.container-form-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.for-loop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

button {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid;
}

button:hover {
  box-shadow: 0px 0.5px 5px #000000;
}

input,
select {
  width: 200px;
  height: 30px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  background: #d8e9f7;
  text-align: center;
}

tr {
  cursor: pointer;
}
